<section class="block">
    <header class="block__header">
      <h2>What our Customer are Saying</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, similique.</p>
    </header>
    <div class="container">
      <div class="card testominial">
        <div class="grid grid--colx2">
          <div class="testominial__image--container">
            <img class="testominial__image" src="images/testimonial.jpg" alt="Testimonial Image" />
            <div class="icon-container icon-container--accent">
              <svg class="icon icon--white icon--small">
                <use xlink:href="images/sprite.svg#quotes"></use>
              </svg>
            </div>
          </div>
          <blockquote class="quote">
            <p class="quote_text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, quod! 
              Facere corporis repudiandae aperiam itaque, iusto ratione nam perferendis dolorum.
            </p>
          <footer class="quote_footer">  
            <div class="media">
              <div class="media__image ">
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                 <h3 class="media__title quote__author">Jhone Lumeo</h3>
                 <p class="quote__company">Mosh Company ceo</p>
              </div>
            </div>
          </footer>
          </blockquote>
      </div>
      </div>
    </div>
  </section>